<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM  
                    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
                    
                    
                    
<hibernate-configuration>

        <session-factory>
        
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">anas5313N</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Brief10</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name ="hibernate.current_session _context_class">thread</property>
        
        <mapping class="model.Employe"/> 
        
        </session-factory>
  
   
   
</hibernate-configuration>
