<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<div align="center">
    <h1>EMPLOYE</h1>
    <a href="/new">Create New Employe</a>    
    <br/><br/>
    <table border="1" cellpadding="10">
    
        <thead>
            <tr>
                <th>ID Employe</th>
                <th>FirstName </th>
                <th>LastName </th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employe : ${listEmployes}">
            <td th:text="${employe.id_employees}">ID Employe</td>
             <td th:text="${employe.firstname}">FirstName</td>
             <td th:text="${employe.lastname}">lastname</td>
             <td th:text="${employe.email}">email</td>
              <td th:text="${employe.Adress}">adress</td>
              <td th:text="${employe.Contact}">contact</td>
             
            </tr>
        </tbody>
    </table>
</div>   

</body>
</html>