<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<style>
a{
text-decoration:none;}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.add{
	text-decoration:none;
	color:royalblue;
	text-transform:capitalize;
	font-size:25px;
	
}
h1{
text-align:center;
color:royalblue;
}
</style>
</head>
<body>
<div align="">
    <h1>Gestion Employe</h1>
         <a href="/new" class="add">Create New Employe</a>
     
    <br/><br/>
    <table border="1" cellpadding="10">
    
        <thead>
            <tr>
                <th>ID Employe</th>
                <th>FirstName </th>
                <th>LastName </th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employe : ${listEmployes}">
            <td th:text="${employe.id_employees}">ID Employe</td>
             <td th:text="${employe.firstname}">FirstName</td>
             <td th:text="${employe.lastname}">lastname</td>
             <td th:text="${employe.email}">email</td>
              <td th:text="${employe.Adress}">adress</td>
              <td th:text="${employe.Contact}">contact</td>
             
              <td>
                    <a  th:href="@{'/edit/'}+${employe.id_employees}">Edit</a>
                    <a  th:href="@{'/delete/'}+${employe.id_employees}">Delete</a>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>   

</body>
</html>