<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
  <form action="#" th:action="@{/save}" th:object="${employe}"
            method="post">
             <label for="fname">Id employe</label>
    <input type="text" th:field="*{id_employees}"  id="fname" name="firstname" placeholder="Id employe..">
    <label for="fname">First Name</label>
    <input type="text" th:field="*{firstname}"  id="fname" name="firstname" placeholder="Your name..">
    <label for="lname">Last Name</label>
    <input type="text" th:field="*{lastname}"  id="lname" name="lastname" placeholder="Your last name..">
    <label for="country">Email</label>
      <input type="text" th:field="*{email}"  id="lname" name="lastname" placeholder="Your Email..">
          <label for="country">Adress</label>
      <input type="text" th:field="*{adress}" id="lname" name="lastname" placeholder="Your Adress..">
          <label for="country">Contact</label>
      <input type="text" th:field="*{contact} id="lname" name="lastname" placeholder="Your Contact..">
  
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>